<footer class="my-md-4 pt-md-5 text-center">
    <div class="col-12 col-md pt-4">
        <p class="d-block mb-3 text-muted">Made with &#10084; by Arcdev</p>
    </div>
</footer>

<!-- Bootstrap core script -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>