
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="https://arcdev.me/favicon-32x32.png">

<meta name="theme-color" content="#dc3545"/>
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:title" content="Corona Virus Tracker" />
<meta property="og:url" content="https://covid-tracker-arcdev.herokuapp.com/" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://covid-tracker-arcdev.herokuapp.com/img/screenshot/world.JPG"/>
<meta
  name="description"
  content="See the Coronavirus cases all over the world"
/>
<meta name="keywords" content="corona, corona virus, covid 19, covid 19 tracker" />

<title>Corona Virus Tracker</title>

<!-- Bootstrap core css -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">

