<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <div class="container">
        <a class="text-dark" href="/"><h3 class="my-0 mr-md-auto font-weight-normal">Coronavirus All Over the World</h3></a>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="https://arcdev.me/">My Portfolio</a>
          <a class="p-2 text-dark" href="https://github.com/mathdroid/covid19">Resources</a>
        </nav>
    </div>
</div>