<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head tag -->
    <%- include ('header') %>
    <!-- End of head tag -->
</head>
<body>

    <!-- Navigation bar -->
    <%- include ('nav') %>
    <!-- End of navigation bar -->

    <!-- Main section -->
    <div class="container">
        <h1 class="display-4 text-center pt-3 text-danger">No records found for <%= country%></h1>
    </div>
    <!-- End of main section -->

    <!-- Footer -->
    <%- include ('footer') %>
    <!-- End of footer -->
</body>
</html>